.btnWsp {
  position: fixed;
  width: 50px;
  height: 50px;
  line-height: 50px;
  bottom: 30px;
  left: 20px;
  background: #12c74b;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 36px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btnWsp:hover {
  text-decoration: none;
  color: #12c74b;
  background: #fff;
  transition: 1s ease-in-out;
  animation: shake 0.4s;
  animation-iteration-count: calc(3);
}

.pulse {
  animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
  0% {
    box-shadow: 0 0 0 0px #25d3667a;
  }
  100% {
    box-shadow: 0 0 0 25px rgba(50, 40, 30, 0);
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen and (min-width: 601px) {
  .btnWsp {
    bottom: 40px;
    left: 50px;
    width: 60px;
    height: 58px;
    font-size: 40px;
    line-height: 57px;
  }
}
